@{
    ViewBag.Title = "Home Page";
}

<br /><br /><br />
<div id="divBrowserInfo"></div>
<div id="divImageHolder"></div>
<div>
    <button id="btnClearImage">
        Clear Image
    </button>
    <button id="btnLoadImage">
        Load Base64 Image
    </button>
</div>


@section scripts{
<script type="text/javascript" src="Scripts/City.js"></script>    
    <script type="text/html" src="Scripts/jquery-1.8.2.js"></script>
    
}
